<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.userdata" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="79xWydBvGQgbL1OB8EhmpDOW03rCe8KCyCn3Pg6T" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="uUdFN3Y4T9PMFgHDTt26rLqwg7RMYeTARWkJtBZH" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SignUp"
            android:label="Sign Up" >

        </activity>

        <activity
            android:name=".EnterData"
            android:label="Enter Info" >

        </activity>
    </application>

</manifest>
